* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import '../../style.scss';

nav {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 2.2rem;
    height: 4.2rem;
    border-bottom: 1px solid themed('border');
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: themed('bg');
    color: themed('textColor');

    .left {
      display: flex;
      align-items: center;
      gap: 1.4rem;

      ul {
        list-style: none;
        display: flex;
        gap: 1rem;
      }

      span {
        font-weight: bold;
        font-size: 1.4rem;
        color: themed('logo');
      }
    }

    .search {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      border: 1px solid themed('border');
      border-radius: 0.2rem;
      padding: 0.6rem;

      input {
        border: none;
        width: 26rem;
        padding: 0.4rem;
        background-color: transparent;
        color: themed('textColor');

        @include mobile {
          display: none;
        }

        @include tablet {
          width: 200px;
        }
      }
    }

    .right {
      @include mobile {
        display: none;
      }

      ul {
        list-style: none;
        display: flex;
        gap: 1rem;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 500;

        @include tablet {
          display: none;
        }

        a {
          display: flex;
          align-items: center;
          gap: 0.4rem;
          color: white;
          text-decoration: none;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }
          span {
          }
        }
      }
    }
  }
}
